<nav class="navbar navbar-expand-lg navbar-light" style="height: 80px; padding-left: 10px; padding-right: 10px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
        <%= link_to "Register", new_user_registration_path, class: "btn", style: 'background-color:#4e3505; color: white' %>
      </li>
      </ul>
    </form>
  </div>
</nav>